/* header part */
body{
    font-family: sans-serif;
}

header{
    background-image: url(../images/banner/banner3.png);
    height: 800px;
}

.title{
    padding: 150px 150px 200px 900px ;
    text-align: end;
}

.title-1{
    font-size: 65px;
    color: white;
}

.title-info{
    color: aliceblue;
    font-size: 16px;
    margin-bottom: 35px;
}
.contact{
    padding: 17px 30px;
    font-size: 20px;
    color: blue;
    border-radius: 5px;
    border: none;
}

/* main part */

/* failurs */

.failures{
    display: flex;
    margin: 120px 250px 0 200px;
    gap: 90px;
    padding: 20px;
}

.theory{
    margin-top: 250px;
    text-align: left;
    /* color: rgb(84, 80, 80); */

}
.theory > h3{
    font-size: 40px;
}
.theory > p{
    font-size: 16px;
}

.tick{
        list-style: none;
      
      li:before {
        content: '✓  ';
      }
      font-size: 16px;
}

/* plan part */

.plan{
    margin: 100px 200px 100px 200px;
}

.plan > h3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.plan-title{
    display: flex;
    justify-content: space-between;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.course{
    font-size: 30px;
    text-align: center;
}

.initial{
    font-size: 25px;
    text-align: center;
    color: rgb(78, 73, 73);
}


/* mind part */

.mind{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    height: 300px;
    padding: 30px 50% 0 80px;
}

.mind-info{
    font-weight: bold;
    font-size: 40px;
    color: white;
}


/* footer part */

footer{
    background-color: black;
    height: 570px;
}
.end{
    display: flex;
    padding: 100px 250px;
    gap: 300px;
}

.future-image{
    color: white;
    margin-right: 10px;
}
.future-info{
    color: white;
    margin-bottom: 20px;
}

.future-title{
    font-size: 40px;
    color: white;
}
.future-sub{
    margin-bottom: 50px;
    font-size: 26px;
    color: white;
}
input {
    width: 300px;
    height: 50px;
    color: white;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 8px;
    border-color: white; 
}
.contacts{
    padding: 17px 30px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color:#005FAC;
}